* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center{
    padding-left: calc(50% - 960px);
    padding-right: calc(50% - 960px);
}

/* .top {
    width: 1920px
} */



.header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 500px;

}

.header__logo__img {
    padding-top: 40px;
}

.header__text {
    padding-top: 45px;
}

.header__menu{
    padding-top: 51px;
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.top__title {
    width: 522px;
    padding-top: 96px;
}

.top__text {
    width: 466px;
    padding-top: 17px;
    padding-bottom: 37px;
}

.button__text {
    padding-bottom: 178 px;
}

.top_img {
    padding-top: 94.71px;
    padding-bottom: 162.45px;

}

.logo {
    /* width: 1920px; */
    padding-top: 97px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 94px;
}
